.morningstar {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    justify-content: center;
    height: 35vh
}

.mstar-1 {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(105, 37, 227),
        0 0 20px rgb(105, 37, 227),
        0 0 40px rgb(105, 37, 227),
        0 0 80px rgb(105, 37, 227),
        0 0 120px rgb(105, 37, 227);
    animation: blink 3s infinite linear;
}

.mstar-2 {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(105, 37, 227),
        0 0 20px rgb(105, 37, 227),
        0 0 40px rgb(105, 37, 227),
        0 0 80px rgb(105, 37, 227),
        0 0 120px rgb(105, 37, 227);
    animation: blink 3s infinite linear;
}

.mstar-3 {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(105, 37, 227),
        0 0 20px rgb(105, 37, 227),
        0 0 40px rgb(105, 37, 227),
        0 0 80px rgb(105, 37, 227),
        0 0 120px rgb(105, 37, 227);
    animation: blink 3s infinite linear;
}

.mstar-4 {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(105, 37, 227),
        0 0 20px rgb(105, 37, 227),
        0 0 40px rgb(105, 37, 227),
        0 0 80px rgb(105, 37, 227),
        0 0 120px rgb(105, 37, 227);
    animation: blink 3s infinite linear;
}

.mstar-5 {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(105, 37, 227),
        0 0 20px rgb(105, 37, 227),
        0 0 40px rgb(105, 37, 227),
        0 0 80px rgb(105, 37, 227),
        0 0 120px rgb(105, 37, 227);
    animation: blink 3s infinite linear;
}

.mstar-6 {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(105, 37, 227),
        0 0 20px rgb(105, 37, 227),
        0 0 40px rgb(105, 37, 227),
        0 0 80px rgb(105, 37, 227),
        0 0 120px rgb(105, 37, 227);
    animation: blink 3s infinite linear;
}

.mstar-7 {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(105, 37, 227),
        0 0 20px rgb(105, 37, 227),
        0 0 40px rgb(105, 37, 227),
        0 0 80px rgb(105, 37, 227),
        0 0 120px rgb(105, 37, 227);
    animation: blink 3s infinite linear;
}

.mstar-8 {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(105, 37, 227),
        0 0 20px rgb(105, 37, 227),
        0 0 40px rgb(105, 37, 227),
        0 0 80px rgb(105, 37, 227),
        0 0 120px rgb(105, 37, 227);
    animation: blink 3s infinite linear;
}

.mstar-9 {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(105, 37, 227),
        0 0 20px rgb(105, 37, 227),
        0 0 40px rgb(105, 37, 227),
        0 0 80px rgb(105, 37, 227),
        0 0 120px rgb(105, 37, 227);
    animation: blink 3s infinite linear;
}

.mstar-10 {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(105, 37, 227),
        0 0 20px rgb(105, 37, 227),
        0 0 40px rgb(105, 37, 227),
        0 0 80px rgb(105, 37, 227),
        0 0 120px rgb(105, 37, 227);
    animation: blink 3s infinite linear;
}

.mstar-11 {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(105, 37, 227),
        0 0 20px rgb(105, 37, 227),
        0 0 40px rgb(105, 37, 227),
        0 0 80px rgb(105, 37, 227),
        0 0 120px rgb(105, 37, 227);
    animation: blink 3s infinite linear;
}